@import url("../../global.scss");

.nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--nav-height);
  background-color: var(--bg);
  box-shadow: var(--box-shadow);

  .nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    .logo {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: auto;
      height: 100%;

      a {
        display: inline-block;
        height: 60%;

        img {
          height: 100%;
        }
      }
    }

    .links {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: auto;
      height: 100%;

      .desktop {
        height: 100%;
        align-items: center;

        & > a {
          display: inline;
          margin-left: 40px;
          text-decoration: none;
          color: var(--black);
          transition: var(--transition);

          &:hover {
            color: var(--purple);
          }
        }

        & > a.resume {
          border: 1px solid var(--purple);
          padding: 0.45rem 0.8rem;
          border-radius: 4px;
          color: var(--purple);
          transition: var(--transition);

          &:hover {
            background-color: var(--purple-shadow);
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 800px) {
  .nav-content {
    margin: 0 50px 0 50px;

    .links {
      .desktop {
        display: flex;
      }

      .mobile-nav {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .nav-content {
    margin: 0 20px 0 20px;

    .links {
      .desktop {
        display: none;
      }

      .mobile-nav {
        display: block;
      }
    }
  }
}
