$purple: #8974f0;
$black: #212529;
$purple-shadow: #8974f0a8;
$bg: #fafcfe;

.skills-wrapper {
  background-color: red;

  .skills-content {
    min-height: calc(100vh - 100px);
    display: flex;
    justify-content: space-around;
    align-items: center;

    .blob-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-basis: 47%;
      flex-grow: 0;
    }

    .pg-lang-wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-basis: 47%;
      flex-grow: 0;
    }
  }
}

@media only screen and (min-width: 500px) {
  .skills-content {
    margin: 0 60px 0px 60px;
  }
}

@media only screen and (max-width: 500px) {
  .skills-content {
    margin: 0 20px 0px 20px;
  }
}

@media only screen and (min-width: 700px) {
  .skills-content {
    flex-direction: row;
  }
}

@media only screen and (max-width: 700px) {
  .skills-content {
    flex-direction: column;
  }
}