$purple: #8974f0;
$black: #212529;
$purple-shadow: #8974f0a8;

.about-wrapper {
  min-height: calc(100vh - 100px);
  display: flex;
  justify-content: space-around;
  align-items: center;

  .desc-wrapper {
    display: flex;
    height: 550px;
    flex-direction: column;
    justify-content: center;

    .desc-header {
      font-size: 45px;
      font-weight: bold;
      color: $black;
    }

    .desc-text {
      color: $black;
    }

    .btns {
      .lets-talk {
        padding: 15px 20px;
        border-radius: 20px;
        outline: none;
        background-color: $purple;
        border: none;

        span {
          background-color: $purple;
          color: white;
        }

        .icon {
          color: white;
          background-color: $purple;
        }
      }
    }

    .social-media {
      a {
        display: inline-flex;
        width: 50px;
        height: 50px;
        vertical-align: middle;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        text-decoration: none;
        background-color: #f5f5f5;
        color: $black;

        .sm-link {
          font-size: 27.5px;
          color: $black;
          background-color: #f5f5f5;
        }
      }
    }
  }

  .image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
    }
  }
}

@media only screen and (min-width: 700px) {
  .about-wrapper {
    flex-direction: row;

    .desc-wrapper {
      width: 500px;
    }

    .image-wrapper {
      width: 500px;
      height: 500px;
    }
  }
}

@media only screen and (max-width: 700px) {
  .about-wrapper {
    flex-direction: column;

    .desc-wrapper {
      width: 100%;
    }

    .image-wrapper {
      width: 100%;
    }
  }
}
