$purple: #8974f0;
$black: #212529;
$purple-shadow: #8974f0a8;
$bg: #fafcfe;

.about-wrapper {
  background-color: $bg;
  margin-top: 100px;

  .about-content {
    min-height: calc(100vh - 100px);
    display: flex;
    justify-content: space-around;
    align-items: center;

    .desc-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-basis: 47%;
      flex-grow: 0;

      .desc-header {
        font-size: 45px;
        font-weight: bold;
        color: $black;
      }

      .desc-text {
        color: $black;
      }

      .btns {
        .lets-talk {
          padding: 15px 20px;
          border-radius: 20px;
          outline: none;
          background-color: $purple;
          border: none;

          span {
            background-color: $purple;
            color: white;
          }

          .icon {
            color: white;
            background-color: $purple;
          }
        }
      }

      .social-media {
        a {
          display: inline-flex;
          width: 40px;
          height: 40px;
          vertical-align: middle;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          text-decoration: none;
          background-color: #f5f5f5;
          color: $black;

          .sm-link {
            font-size: 25px;
            background-color: #f5f5f5;
            color: $black;
          }
        }
      }
    }

    .image-wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-basis: 47%;
      flex-grow: 0;

      img {
        width: 100%;
        max-width: 600px;
        user-select: none;
      }
    }
  }
}

@media only screen and (min-width: 500px) {
  .about-content {
    margin: 0 60px 0px 60px;
  }
}

@media only screen and (max-width: 500px) {
  .about-content {
    margin: 0 20px 0px 20px;
  }
}

@media only screen and (min-width: 700px) {
  .about-content {
    flex-direction: row;
  }
}

@media only screen and (max-width: 700px) {
  .about-content {
    flex-direction: column;
  }
}