@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins&family=Roboto&display=swap");
$bg: #fafcfe;

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins";
  background-color: $bg;
}

@media only screen and (min-width: 500px) {
  .content-wrapper {
    margin: 100px 60px 0px 60px;
  }
}

@media only screen and (max-width: 500px) {
  .content-wrapper {
    margin: 100px 20px 0px 20px;
  }
}
