$purple: #8974f0;
$purple-shadow: #8974f0a8;
$yellow: #fcda68;

.hi-menu-alt-3-wrapper {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
  cursor: pointer;

  .hi-menu-alt-3 {
    font-size: 35px;
    color: $purple;
  }
}

.mobile-sidebar {
  background-color: $purple;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  box-shadow: $purple-shadow 0px 3px 8px;

  .io-close-wrapper {
    position: absolute;
    top: 25px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
    cursor: pointer;
    background-color: white;

    .io-close {
      font-size: 35px;
      color: $purple;
    }
  }

  .mobile-nav-link-wrapper {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
    cursor: pointer;
    margin: 20px;
    background-color: white;

    .mobile-nav-link {
      font-size: 30px;
      color: $purple;
    }
  }
}
